<%- include("partials/header.ejs") %>
<body>
    <img class="logo" src="https://steamuserimages-a.akamaihd.net/ugc/2059887043049355839/8EFFA69965F2D1BBCA1653F40D321E4A8854713E/">
    <h1>Hello, your trivia for the number <%= thenumber %> is:</h1>
    <h1><%= content %></h1>
</body>